@import 'vars';
@import 'dumb'

$playState: running;


:root {
  /* TODO: find a way to count frames as well as goto frame. Brain says we should be able to math it */
  --frame-counter: 0;
  --frame-rate: $fps;
  --animation-time: 35s;
  --animation-time2: $animation-duration;
  --animation-play-state: $playState;
  /*  TODO: assign stuff from JSON */
  /* --animation-length: var(--frame-rate) / var(--animation-time);
  --spritesheet-width: 6720px;
  --spritesheet-height: 138px; */

}

h2:before {
  content: counter(testCounter);
}

body {
  background: #24aecd;
  counter-reset: testCounter;
}

.paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.animate {
  width: 192px;
  height: 138px;
  margin: 2% auto;
  /* background: url('https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/blog/monster.png') left center; */
  background: url(../visuals/falcon-dair-horizontal.png) left center;
  /*  playtime at 60fps is steps  */
  animation: play .583s steps(35)  infinite;


  animation-play-state: var(--animation-play-state);
}

@keyframes play {
   from { background-position:    0px; }
   to { background-position: -6720px; }

    /* 100% { background-position: -1152px; } */
}
